<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My HTML Application</title>
</head>
<body>
    <!-- add `header` ejs -->
    <%- include('header') %>
    <h2>This is Page 1</h2>
</body>
</html>
